<div class="container text-center flex-center mt-5">
    <div id="first">
        <div id="second">
            <div id="third">
                <div id="forth">
                    <div id="fifth">
                        <div id="sixth">
                            <div id="seventh">
                                <div id="eight">
                                    A floating banner text which keeps on rotating
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>